body {
    background: #800000;
}

.button-group {
    text-align: center;
    padding: 5vw;
}

.button-group button {
    padding: 10px 20px;
    font-size: 1.5em;
    margin: 0px 10px;
}

#counterText {
    color: white;
    font: 4em Consolas, Arial, sans-serif;
    text-align: center;
}